a {
  color: #eb8278;
}
a:hover {
  color: #e4594c;
}
.major-color {
  color: #eb8278;
}
.style-title2 .sppb-section-title h3 {
  border-bottom: 2px solid #eb8278 !important;
}
.button1 a {
  color: #fff;
  background: #fff;
  border: 1px solid #eb8278;
}
.button1 a:before {
  background: #eb8278;
}
.button1 a:hover {
  color: #eb8278;
}
.button2 a:hover {
  border-color: #eb8278;
  background: #eb8278;
  color: #fff;
}
#system-message-container {
  background: #eb8278;
}
.readmore a:hover {
  background: #eb8278;
  border-color: #eb8278;
  color: #fff;
}
#fancybox-content .continue_link,
#fancybox-content .showcart {
  background-color: #eb8278;
}
.vm-price-value span.PricebillTotal {
  color: #eb8278;
}
.tparrows.default {
  background: transparent;
}
.tparrows.default:hover {
  background: #eb8278;
}
.tparrows.default:hover:before {
  color: #fff;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
}
.owl-theme .owl-nav [class*="owl-"]:hover:after {
  color: #eb8278;
}
.tabs_buttons ul li:before,
.tabs_buttons ul li:after {
  background: #eb8278;
}
.tabs_buttons ul li.active span,
.tabs_buttons ul li:hover span {
  color: #eb8278;
}
.sale-box:before {
  background: rgba(235,130,120,0.9);
}
.sale-content a.button:hover {
  background: #fff;
  color: #eb8278;
}
.article-info > dd.createdby {
  color: #eb8278;
}
.vina-manufacturers-virtuemart.owl-theme:hover .owl-nav div {
  background: #eb8278;
}
.vina-manufacturers-virtuemart.owl-theme:hover .owl-nav div:hover {
  background: #222;
}
.vina-carousel-content .timmer {
  background: #eb8278;
}
.vina-carousel-content .text-block .title a:hover {
  color: #eb8278;
}
.sp-module.vmcategory2 .sp-module-title {
  background: #eb8278;
}
.vm-header-container .vm-continue-shopping a:hover {
  background: #eb8278;
  color: #fff;
}
.btn-toolbar .btn:hover {
  background: #eb8278;
  color: #fff;
}
.vm-button-correct:hover,
.vm-button-correct:focus,
.vm-button-correct.focus,
.vm-button:hover,
.vm-button:focus,
.vm-button.focus,
.button:hover,
.button:focus,
.button.focus,
.default:hover,
.default:focus,
.default.focus,
.details-button:hover,
.details-button:focus,
.details-button.focus {
  background: #eb8278;
  border-color: #eb8278;
}
#offcanvas-toggler {
  color: #fff;
}
#offcanvas-toggler:focus,
#offcanvas-toggler:hover {
  background: transparent;
  color: #eb8278;
}
.offcanvas-menu .offcanvas-inner .sp-module ul li a span:hover {
  color: #eb8278;
}
.tp-bullets.simplebullets .bullet:hover {
  border-color: #eb8278;
}
.tp-bullets.simplebullets .bullet.selected {
  background: #eb8278 !important;
  border-color: #eb8278;
}
.search-button:hover:before {
  color: #eb8278;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #000000;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
  color: #eb8278;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a.sp-group-title {
  border-color: #eb8278;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #eb8278;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #ffffff;
}
.sp-megamenu-parent li.active > a,
.sp-megamenu-parent li:hover > a {
  color: #eb8278;
}
.sp-module .sp-module-content,
.sp-module.search-dropdown .sp-module-content,
.sp-module.vina-dropdown .sp-module-content {
  border-color: #eb8278;
}
.sp-module .sp-module-content:before,
.sp-module.search-dropdown .sp-module-content:before,
.sp-module.vina-dropdown .sp-module-content:before {
  color: #eb8278;
}
.sp-module.sp-follow ul.icon li i:hover {
  color: #eb8278;
}
.sp-module .search-dropdown .sp-module-content {
  border-color: #eb8278;
}
.sp-module .search-dropdown .sp-module-content .search-button-wrapper .search-button {
  background: #eb8278;
}
.sp-module .search-dropdown .sp-module-content .search-button-wrapper .search-button:hover {
  background: #dc3121;
}
.sp-module .bootstrap-select .dropdown-menu.inner li:hover {
  background: #eb8278;
}
.sp-module .bootstrap-select .dropdown-menu.inner li:hover a {
  color: #fff;
}
.sp-module .cf_flt_header:before {
  color: ;
}
.sp-module .cf_flt_header:hover:before {
  color: #eb8278;
}
.sp-module .cf_flt_header span:hover {
  color: #eb8278;
}
.sp-module .cf_wrapp_all .slider_bkg_img {
  background: #eb8278;
}
.sp-module .cf_wrapp_all .cf_filters_list li .cf_option:hover {
  color: #eb8278;
}
.sp-module .cf_wrapp_all .cf_filtering_knob:before {
  background: #eb8278;
  border-color: #eb8278;
}
.sp-module ul li a:hover {
  color: #eb8278;
}
.sp-module .sp-module-title .modtitle:before,
.sp-module .style-title .modtitle:before {
  background: #eb8278;
}
.sp-module .tagspopular ul > li a:hover,
.sp-module.product-tag ul > li a:hover {
  background: #eb8278;
  color: #fff;
}
#sp-top-wrapper .menutop a:hover {
  color: #eb8278;
}
#sp-header.style-2 {
  background: #eb8278;
}
#sp-header.style-2 .social-icons li a:hover {
  background: #222;
}
#sp-header.style-2 .social-icons li a:hover i {
  color: #fff;
}
.sp-vmsearch.style-search2 form .search-button-wrapper button:after {
  border-color: #eb8278 #eb8278 #eb8278 transparent;
  border-top-color: #eb8278;
}
.rtl .sp-vmsearch.style-search2 form .search-button-wrapper button:after {
  border-color: #eb8278 transparent #eb8278 #eb8278;
}
.sp-vmsearch.style-search2 form .search-button-wrapper button:before {
  background: #eb8278;
}
.sp-vmsearch.style-search2 form .search-button-wrapper button:hover:before {
  background: #222;
}
.sp-vmsearch.style-search2 form .search-button-wrapper button:hover:after {
  border-color: #222 #222 #222 transparent;
  border-top-color: #222;
}
.rtl .sp-vmsearch.style-search2 form .search-button-wrapper button:hover:after {
  border-color: #222 transparent #222 #222;
}
#offcanvas-toggler {
  background: #eb8278;
}
#offcanvas-toggler:hover {
  background: #222;
  color: #fff;
}
.shipping-content li:hover i {
  border-color: #eb8278;
}
.shipping-content.style-2 .box-icon:before {
  background: #eb8278;
}
.cart-price {
  color: #eb8278;
}
.sp-vmsearch .search-button-wrapper .search-button {
  background: #eb8278;
}
.vmCartModule .vm_cart_footer a {
  background: #eb8278;
  color: #fff;
}
.vmCartModule .vm_cart_footer a:hover {
  background: #222;
}
.productdetails-view .spacer-buy-area span.addtocart-button .addtocart-button,
.productdetails-view .spacer-buy-area span.addtocart-button a.notify {
  background: #eb8278;
}
.productdetails-view .spacer-buy-area span.addtocart-button .addtocart-button:hover,
.productdetails-view .spacer-buy-area span.addtocart-button a.notify:hover {
  background: #222 !important;
}
.productdetails-view .spacer-buy-area .addtofav_aws_icon_active:hover,
.productdetails-view .spacer-buy-area .addtofav_aws_icon:hover {
  background: #222 !important;
}
.productdetails-view .spacer-buy-area .addtofav_aws_icon_active:hover i,
.productdetails-view .spacer-buy-area .addtofav_aws_icon:hover i {
  color: #fff !important;
}
.registration .btn,
.login-page .btn {
  background: #eb8278;
}
.registration .btn:hover,
.login-page .btn:hover {
  background: #222;
}
.registration li a,
.login-page li a {
  color: #555555;
  font-style: italic;
}
.registration li a:hover,
.login-page li a:hover {
  color: #eb8278;
}
.login-left .divtablecell a:hover {
  background: #fff;
  color: #eb8278;
}
@media (max-width: 767px) {
  .login-left .divtablecell a:hover {
    border-color: #eb8278;
  }
}
.form-horizontal .controls button:hover {
  background: #eb8278;
  border-color: #eb8278;
  color: #fff;
}
.vmcategory2 div.vina-treeview-virtuemart .treeview > li:hover > a,
.vmcategory2 div.vina-treeview-virtuemart .treeview > li:hover .hitarea {
  color: #eb8278;
}
.vmcategory2 div.vina-treeview-virtuemart .treeview > li a.selected {
  color: #eb8278;
}
.style-cart1 > .sp-module .modtitle:hover {
  border-color: #eb8278;
}
.style-cart1 > .sp-module .modtitle:hover i {
  color: #eb8278;
}
.style-cart1 > .sp-module .number {
  background: #eb8278;
}
#sp-left .shortcode li a:hover,
#sp-right .shortcode li a:hover {
  color: #eb8278;
}
#sp-left .sp-module .modtitle:before,
#sp-right .sp-module .modtitle:before {
  background: transparent;
  color: #eb8278;
}
#sp-bottom .menu > li a:hover {
  color: #eb8278;
}
#sp-bottom i {
  color: #eb8278;
}
.newsletter .sub-new input {
  background: #eb8278;
}
.newsletter .sub-new input:hover {
  background: #e4594c;
}
#sp-footer .menu > li a:hover {
  color: #eb8278;
}
#sp-footer .sp-copyright a {
  color: #eb8278;
}
#sp-footer .sp-copyright a:hover {
  text-decoration: underline;
}
#sp-footer ul.social-icons li a:hover {
  background: #eb8278;
  border-color: #eb8278;
}
#sp-footer ul.social-icons li a:hover i {
  color: #fff;
}
.slider:hover .tp-leftarrow.round.default:hover,
.slider:hover .tp-rightarrow.round.default:hover {
  background: #eb8278;
}
#sp-page-title .breadcrumb li a:hover {
  color: #eb8278;
}
#sp-page-title .breadcrumb li.active {
  color: #eb8278;
}
.top-categories .overlay:after {
  background: #eb8278;
}
.product-price .PricesalesPrice {
  color: #eb8278;
}
.product .button-group .btn {
  background: #eb8278;
  border-color: #eb8278 !important;
}
.product .button-group .btn:hover {
  background: transparent !important;
  color: #eb8278 !important;
}
.addtocart-area:hover {
  background: #eb8278;
}
.addtofav_aws_icon {
  background: #eb8278 !important;
  color: #fff !important;
}
.addtofav_aws_icon_active {
  background: #eb8278 !important;
}
.addtofav_aws_icon_active i {
  color: #fff !important;
}
.additional-images .owl-theme .owl-nav [class*="owl-"]:hover {
  background: #eb8278;
}
.additional-images .owl-theme .owl-nav [class*="owl-"]:hover:after {
  color: #fff;
}
article.item .readmore a {
  background: #555;
}
article.item .readmore a:hover {
  background: #eb8278;
}
.article-info:after {
  background: #eb8278;
}
.product-title a:hover {
  color: #eb8278 !important;
}
.featured-view h4,
.latest-view h4,
.topten-view h4,
.recent-view h4,
.products-view h4,
.related-products-view h4 {
  color: #eb8278;
}
ul.social-icons > li a:hover i {
  border-color: #eb8278;
  color: #eb8278;
}
.chzn-container .chzn-results li.active-result.result-selected {
  background: #eb8278;
  color: #fff;
}
.chzn-container .chzn-results li.active-result.highlighted {
  background: #eb8278;
  color: #fff;
}
.productdetails .vm-product-media-container .additional-images .owl-theme .owl-item a:hover {
  border: 1px solid #eb8278;
}
.productdetails .vm-product-details-container .icons a:hover {
  background: #eb8278;
  color: #fff;
}
.productdetails .vm-product-details-container .product-rating .add_review a {
  color: #eb8278;
}
.productdetails .vm-product-details-container .category-children a:hover {
  color: #eb8278;
}
.productdetails .vm-product-details-container a.ask-a-question {
  color: #eb8278;
}
.productdetails .vm-product-details-container a.ask-a-question:hover {
  color: #333;
}
.productdetails .product-related-products-carousel .product .text-block .PricesalesPrice {
  color: #eb8278;
}
.vm-cart-header .vm-header {
  color: #eb8278;
}
.pagination > li >a,
.pagination > li > span {
  color: #333;
}
.pagination > li >a:hover,
.pagination > li >a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #fff;
  background: #eb8278;
  border-color: #eb8278;
}
.pagination .active > a,
.pagination .active > span {
  background: #eb8278;
  border-color: #eb8278;
  color: #fff;
}
.pagination .active > a:hover,
.pagination .active > a:focus,
.pagination .active > span:hover,
.pagination .active > span:focus {
  background: #eb8278;
  border-color: #eb8278;
  color: #fff;
}
.info .time-type {
  background: #eb8278;
}
.entry-header h2 a:hover {
  color: #eb8278;
}
.intro .readmore a {
  color: #eb8278;
}
.tags a {
  color: #eb8278;
}
.voting-symbol span.star.active:before {
  color: #eb8278;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #e4594c;
}
.quantity-controls {
  background: #eb8278;
}
.quantity-controls:hover {
  background: #222;
}
.entry-link,
.entry-quote {
  background: #eb8278;
}
blockquote {
  border-color: #eb8278;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #eb8278;
}
.contact-page li i {
  color: #eb8278;
}
.contact-form .sppb-btn-primary {
  background: #eb8278;
  border-color: #eb8278;
}
.com-contact h1,
.com-contact h2 {
  color: #eb8278;
}
.contactForm button.sppb-btn-primary {
  border: 1px solid #eb8278;
  border-radius: 0;
  background: none;
  color: #eb8278;
}
.contactForm button.sppb-btn-primary:hover {
  background: #eb8278;
  color: #fff;
}
.view-mode .btn-group a.btn-primary span,
.view-mode .btn-group a:hover span {
  color: #eb8278;
}
#ui-tabs ul#tabs li.current {
  background: #eb8278;
  color: #fff;
}
#ui-tabs ul#tabs li:hover,
#ui-tabs ul#tabs li:focus {
  background: #eb8278;
  color: #fff;
}
